* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

a:hover {
  font-size: 1.3rem;
  color: rgb(230, 230, 230);
  transition: all ease-out 0.2s;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  height: 8vh;
}

.page {
  background: url("../landscape-bg.jpg");
  height: 92vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 30%;
}

form,
.about,
.container,
.wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(9, 2, 31, 0.2);
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}

.title {
  margin-left: -38%;
  color: #333;
  font-weight: bold;
}

.title h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5%;
}

.title p {
  font-size: 1.1rem;
}

form h1,
.about h1,
.container h1,
.wrapper h1 {
  color: #fff;
  text-align: center;
}

.about p {
  color: #fff;
  padding-top: 4%;
  font-size: 1.2rem;
}

label {
  color: #fff;
  font-size: 1.2rem;
}

.submitBtn {
  display: flex;
  justify-content: center;
}

.enviar {
  background: none;
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  padding: 2% 8%;
  font-size: 0.8rem;
}

.enviar:hover {
  background-color: #fff;
  color: rgb(9, 2, 31);
  border-color: rgb(9, 2, 31);
  font-size: 0.9rem;
  transition: all ease-out 0.4s;
}

.btns {
  padding-top: 10%;
  display: flex;
  justify-content: space-evenly;
}

.btns input {
  width: 35%;
  padding: 2% 0;
  background: none;
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

.btns input:hover {
  background-color: #fff;
  color: rgb(9, 2, 31);
  border-color: rgb(9, 2, 31);
  font-size: 1.1rem;
  transition: all ease-out 0.4s;
}

.home {
  background: url("../home-bg.png");
  height: 92vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 30%;
}
